footer{
  background: linear-gradient(180deg, rgba(255, 122, 0, 0.7) 0%, rgba(252, 43, 116, 0.7) 55.73%, rgba(163, 0, 117, 0.7) 100%);
}


ul.social-network {
    list-style: none;
    display: inline;
  
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }
 
 .faFacebook, .faLinkedin, .faInstagram{
      color: white;
  }
 
 .faFacebook:hover{
    color: #3b5998;
 }
 
 .faLinkedin:hover{
  color: #0072b1;
 }
 
 .faInstagram:hover{
  color: #C13584;
 }
   