<div class="container">
    <h1 class="text-center my-5">Área de cadastro de cursos e/ou categorias</h1>
    <div class="row mb-5">
        <div class="col-md-6 d-flex justify-content-center">

            <div class="card box-card" style="width: 18rem;">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <img src="{{imagem}}" class="card-img-top rounded-circle w-100"
                        alt="Imagem ilustrativa para exemplificar o curso" width="250" height="250">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{nome}}</h5>
                    <p class="card-text">{{descricao}}</p>
                    <a href="#" class="btn botao rounded-pill d-flex justify-content-center">Visitar</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">

            <div class="py-5 px-5" id="cadastrarCurso">
                <div class="form-group">
                    <label for="nome">Nome do Curso*</label>
                    <input type="text" class="form-control" id="nome" aria-describedby="nome" required=""
                        placeholder="Informe o nome do curso." [(ngModel)]="curso.nome" (input)='nomeCurso($event)'
                        value="{{nome}}">
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição*</label>
                    <input type="text" class="form-control" id="descricao" aria-describedby="descricao" required=""
                        placeholder="Informe o resumo do curso." [(ngModel)]="curso.descricao"
                        (input)='descricaoCurso($event)' value="{{descricao}}">
                </div>
                <div class="form-group">
                    <label for="imagem">Imagem*</label>
                    <input type="text" class="form-control" id="imagem" aria-describedby="imagem" required=""
                        placeholder="Forneça uma imagem para o curso." [(ngModel)]="curso.imagem"
                        (input)='imagemCurso($event)' value="{{imagem}}">
                </div>
                <div class="form-group">
                    <label for="link">Link*</label>
                    <input type="text" class="form-control" id="link" aria-describedby="link" required=""
                        placeholder="Forneça uma link para o curso." [(ngModel)]="curso.link"
                        (input)='linkCurso($event)' value="{{link}}">
                </div>
                <div class="form-group">
                    <label for="genero">Gênero*</label>
                    <select class="form-control" id="genero" name="genero" [(ngModel)]="idGenero"
                        (change)="findByIdGenero()">
                        <option *ngFor="let genero of listaGeneros" value={{genero.id}}>{{genero.nome}}</option>
                    </select>
                    <div class="d-flex justify-content-end mt-2">
                        <small><a data-toggle="modal" data-target="#modalExemplo">Cadastrar novo gênero</a></small>

                        <!-- Modal -->
                        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog"
                            aria-labelledby="modalCategoria" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalCategoria">Gêneros</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <nav class="d-flex justify-content-center">
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-cadastrar-tab"
                                                    data-toggle="tab" href="#nav-cadastrar" role="tab"
                                                    aria-controls="nav-cadastrar" aria-selected="true">Cadastrar</a>
                                                <a class="nav-item nav-link" id="nav-alterar-tab" data-toggle="tab"
                                                    href="#nav-alterar" role="tab" aria-controls="nav-alterar"
                                                    aria-selected="false">Alterar</a>
                                                <a class="nav-item nav-link" id="nav-excluir-tab" data-toggle="tab"
                                                    href="#nav-excluir" role="tab" aria-controls="nav-excluir"
                                                    aria-selected="false">Excluir</a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-cadastrar" role="tabpanel"
                                                aria-labelledby="nav-cadastrar-tab">

                                                <div class="mt-3">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label for="nome-cat">Nome da categoria</label>
                                                            <input type="text" class="form-control" placeholder="Nome"
                                                                id="nome-cat" required="" [(ngModel)]="genero.nome">
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-center mt-3">
                                                        <button class="btn btn-outline-secondary mr-2"
                                                            data-dismiss="modal">Voltar</button>
                                                        <button class="btn btn-outline-success ml-2"
                                                            (click)="cadastrarGenero()">Salvar</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-alterar" role="tabpanel"
                                                aria-labelledby="nav-alterar-tab">

                                                <div class="mt-3">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label for="alt-genero">Gênero a ser alterado</label>
                                                            <select class="form-control" id="alt-genero"
                                                                name="alt-genero">
                                                                <option *ngFor="let genero of listaGeneros"
                                                                    value={{genero.id}}>{{genero.nome}}</option>
                                                            </select>
                                                            <label for="alt-nome" class="mt-2">Por:</label>
                                                            <input type="text" class="form-control" placeholder="Nome"
                                                                id="alt-nome" required="">
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-center mt-3">
                                                        <button class="btn btn-outline-secondary mr-2"
                                                            data-dismiss="modal">Voltar</button>
                                                        <button class="btn btn-outline-success ml-2">Salvar</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-excluir" role="tabpanel"
                                                aria-labelledby="nav-excluir-tab">

                                                <div class="mt-3">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <label for="exc-genero">Categoria a ser excluda</label>
                                                            <select class="form-control" id="exc-genero"
                                                                name="exc-genero">
                                                                <option *ngFor="let genero of listaGeneros"
                                                                    value={{genero.id}}>{{genero.nome}}</option>
                                                            </select>
                                                            <p class="text-center mt-3">Você tem certeza?</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-outline-danger mr-2"
                                                            data-dismiss="modal">Não</button>
                                                        <button class="btn btn-outline-success ml-2">Sim</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn botao1 btn-block mt-4 mb-3" (click)="cadastrarCurso()">Cadastrar
                    curso</button>
                <div class="alert-success text-center p-2 mt-3" style="visibility: hidden;" id="alerta">
                </div>

            </div>

        </div>
    </div>
</div>