<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-5" id="imagem">

            <div class="row mt-5">
                <div class="col-md-5">
                    <h1 class="text-center">Sejam bem vindes à sua plataforma de integração à
                        cursos gratuitos!</h1>
                    <p class="text-center mt-3">A Union é uma plataforma criada com o intuito de facilitar a procura e o
                        acesso das pessoas aos cursos gratuitos que existem e estão espalhados pela internet. Além de
                        ser uma plataforma integradora entre usuários e conteúdos gratuitos, há a possibilidade de
                        interações e recomendações entre os usúarios cadastrados.</p>
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <img src="./assets/union.png" class="img-fluid" id="img-home"
                        alt="Imagem ilustrativa que reúne diversas pessoas em frenet de um instrutor através de um celular">
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <h2 class="text center">🥰 CURSOS RECENTES 🥰</h2>
    </div>
    <div class="row mb-5">
        <div class="col-md-3 d-flex justify-content-center" *ngFor="let curso of listaCursos | orderBy : key : reverse">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <img src="{{curso.imagem}}" class="card-img-top rounded-circle w-100"
                        alt="Imagem ilustrativa para exemplificar o curso" width="250" height="250">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{curso.nome}}</h5>
                    <p class="card-text">{{curso.descricao}}</p>
                </div>
                <a href="#" class="btn botao rounded-pill d-flex justify-content-center">Visitar</a>
            </div>
        </div>
    </div>
</div>