

/* .imagem > img{
    width: 100%;
}

.texto1 {
    position: absolute;
    width: 600px;
    top: 150px;
    font-family: Righteous;
    font-size: 36px;
    line-height: 45px;
    display: flex;
}

.texto2{
    position: absolute;
    width: 600px;
    top: 340px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    display: flex;
}

.texto3{
    font-family: Righteous;
    font-size: 36px;
    line-height: 45px;
}

.pessoas > img{
    position: absolute;
    width: 600px;
    height: 595px;
    left: 700px;
    top: 355px;
}

.botao{
    background: linear-gradient(180deg, #DE497D 0%, #E78945 83.33%, #F8AD53 100%);
    border-radius: 50px;
}

.curso{
    width: 300px;
    height: 300px;
} */



/* .parallax{

    background-image: url('https://i.imgur.com/PEoH72I.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#imagem {
    background-image: url('/assets/retangulo1.png');

    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: Righteous, Roboto, sans-serif;
}

#img-home{
    margin-top: 130px;
}

a, p {
    font-family: Ubuntu, Roboto, sans-serif;
}

.botao {
    background: #FFA14C;
}

.botao:hover {
    background: #EC629E;
    transition: 500ms;
    color: white;
}

.card{
    padding: 10px;
    transition: box-shadow 0.2s,
                transform 0.2s,
                z-index 0s 0.2s;
    margin: 5% 0%;
    -webkit-box-shadow: 5px 5px 24px -7px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 5px 5px 24px -7px rgba(0, 0, 0, 0.44);
    box-shadow: 5px 5px 24px -7px rgba(0, 0, 0, 0.44);
}

.card:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(#000, 0.2);
    transform: scale(1.05);
    transition: box-shadow 5px 5px 24px -7px rgba(0, 0, 0, 0.44);
}