<div class="container">
    <div class="row my-5">
        <div class="col-md-4 mb-3">

            <div class="card border-0" style="width: 18rem;">
                <app-perfil-info></app-perfil-info>
            </div>

        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column align-items-center">

            <h1 class="text-center">Exclusão de publicação</h1>

            <div class="my-5">
                <div class="d-flex justify-content-center mb-5">
                    <div class="publicacao">
                        <div class="d-flex align-items-center">
                            <h6>Nome do usuario -</h6>
                            <p class="data text-muted">{{postagem.data | date: 'dd/MM/yyyy'}} às
                                {{postagem.data | date: 'HH:mm'}}</p>
                        </div>
                        <p>{{postagem.texto}}</p>
                    </div>
                </div>
                <p class="text-center">Tem certeza que deseja excluir a publicação?</p>
                <div class="col-md-12 d-flex justify-content-center mt-2">
                    <button class="btn btn-outline-success mx-3" (click)="btnSim()">Sim</button>
                    <button class="btn btn-outline-danger" (click)="btnNao()">Não</button>
                </div>
            </div>

        </div>
    </div>
</div>