.botao {
    background: #FFA14C;
    color: white;
}

.botao:hover {
    background: #EC629E;
    transition: 500ms;
    color: white;
}

.botao1 {
    background: #EC629E;
    color: white;
}

#dropdown > a {
    color: #ffffff;
    }
    
#dropdown > a:hover {
    color: #000000;
}

textarea{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}