.texto{
    letter-spacing: .2rem;
    font-size: 16pt;
 }

 #navegacao{
    background: rgba(255, 122, 0, 0.7);
 }

 a {
    color: #ffffff;
 }

 /* #dropdown {
   background: transparent;
   border: transparent;
 } */

 #dropdown > a {
  color: #ffffff;
  }
  
  #dropdown > a:hover {
    color: #000000;
  }

 #login {
   background: #EC629E;
 }

 #entrar {
   width: auto;
   height: auto;
 }

 .outline {
   border-radius: 50rem;
   border-color: #EC629E;
 }

 .outline:hover {
   background: #EC629E;
   color: #ffffff;
 }

 .navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #EC629E;
  transition: 200ms;
}