<div class="container">
    <div class="row my-5">

        <div class="col-md-5 d-flex justify-content-center my-5">

            <div class="py-5 px-5" id="cadastrar">
                <div class="form-group">
                    <label for="nome">Nome*</label>
                    <input type="text" class="form-control" id="nome" aria-describedby="nome" required=""
                        placeholder="Informe o seu nome." [(ngModel)]="usuario.nome">
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required=""
                        placeholder="Informe o seu email." [(ngModel)]="usuario.email">
                </div>
                <div class="form-group">
                    <label for="senha">Senha*</label>
                    <input type="password" class="form-control" id="senha" required=""
                        placeholder="Informe a sua senha." [(ngModel)]="usuario.senha">
                </div>
                <div class="form-group">
                    <label for="confirmaSenha">Confirmar Senha*</label>
                    <input type="password" class="form-control" id="confirmaSenha" required=""
                        placeholder="Confirme a sua senha." (input)='confirmaSenha($event)' value="{{confSenha}}">
                </div>
                <button type="button" class="btn botao1 btn-block mt-4 mb-3" (click)="cadastrar()">Cadastrar</button>
                <div class="alert-danger text-center p-2" style="visibility: hidden;" id="alerta">
                </div>
                <p class="text-center text-muted mt-2">Caso já tenha uma conta em nossa plataforma, realize o <a
                        routerLink="/entrar">login</a>.</p>
            </div>

        </div>

        <!-- Arrumar as cores da imagem e retirar o fundo -->
        <div class="col-md-7 d-flex justify-content-center">
            <img src="./assets/cadastrar.jpg" class="img-fluid"
                alt="Imagem ilustrativa que representa uma área de login" width="600px" height="600px">
        </div>

    </div>
</div>