h6 {
    font-family: Ubuntu, Roboto, sans-serif;
}

p {
    font-family: Roboto, sans-serif;
}

.publicacao{
    width: 575px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: 10px 0 0 10px;
}

.linha {
    width: 1px;
    border-left:1px solid #EC629E;
    min-height: 100px;
}

.data{
    font-size:12px;
    padding-top: 11px;
    margin-left: 4px;
}

#foto {
    width: 150px;
    height: 150px;
}