<div class="container">
    <div class="row my-5">
        <div class="col-md-3 d-flex justify-content-start">
            <div class="card border-0" style="width: 18rem;">
                <div class="card-body text-center">
                    <h2 class="card-title">Categorias</h2>
                    <ul class="list-group list-group-flush">
                        <li class="btn list-group-item rounded-pill d-flex justify-content-between align-items-center"
                            (click)="findAllCursos()">
                            <a>Todas</a><span class="badge badge-pill ml-2">14</span></li>
                        <li class="btn list-group-item rounded-pill d-flex justify-content-between align-items-center"
                            *ngFor="let genero of listaGeneros">
                            <a href="#">{{genero.nome}}</a><span class="badge badge-pill ml-2">14</span></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center" *ngFor="let curso of listaCursos">
            <div class="card box-card" style="width: 18rem;">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <img src="{{curso.imagem}}" class="card-img-top rounded-circle w-100"
                        alt="Imagem ilustrativa para exemplificar o curso" width="250" height="250">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{curso.nome}}</h5>
                    <p class="card-text">{{curso.descricao}}</p>
                </div>
                <a href="{{curso.link}}" target="_blank"
                    class="btn botao rounded-pill d-flex justify-content-center mb-2">Visitar</a>
                <div class="btn-group dropup">
                    <button type="button" class="btn botao1 rounded-pill dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu bg-dark" id="dropdown">
                        <a class="dropdown-item rounded-pill" [routerLink]="['/editar-curso', curso.id]">Editar</a>
                        <a class="dropdown-item rounded-pill" [routerLink]="['/excluir-curso', curso.id]">Excluir</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>